<section class="servicios-section py-5 text-white">
    <div class="container">
  <div class="row align-items-stretch" >

    <!-- Imagen -->
    <div class="col-md-6 mb-4 mb-md-0 d-flex align-items-center" data-aos="fade-right">
      <img src="servicios.webp"
           alt="Desarrollo Web"
           class="img-fluid rounded-4 h-100 object-fit-cover w-100" loading="lazy">
    </div>

    <!-- Texto -->  
    <div class="col-md-6 d-flex flex-column justify-content-between" data-aos="fade-left">
      <div>
        <h1 class="fw-bold mb-3">Especialistas en <span class="text-accent">Creación de Páginas Web</span></h1>
        <p>
          En <strong>Lamatiec</strong>, diseñamos y desarrollamos páginas web personalizadas que potencian tu presencia en línea. 
          Creamos experiencias intuitivas, visualmente atractivas y completamente adaptables a cualquier dispositivo.
        </p>
        <p>
          Nuestro equipo está preparado para construir desde páginas informativas, catálogos online, hasta sistemas administrativos o tiendas virtuales que integran pasarelas de pago, reportes en tiempo real y paneles de control personalizados.
        </p>
       
        <p>
          Si buscas destacar en el mundo digital, confía en nosotros para convertir tus ideas en proyectos exitosos y funcionales.
        </p>
      </div>

      <!-- 3 Pilares -->
      <div class="row g-3 mt-4">
        <div class="col-12 col-md-4">
          <div class="card pilar-card shadow rounded-4 h-100 text-center p-3 align-items-center">
            <img src="innovacion.png " height="60" width="60">
            <h5 class="fw-bold mt-2">Innovación</h5>
            <p class="small">Aplicamos tecnología de vanguardia para crear soluciones digitales modernas y eficientes.</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card pilar-card shadow rounded-4 h-100 text-center p-3 align-items-center">
            <img src="calidad.png  " height="60" width="60">
            <h5 class="fw-bold mt-2">Calidad</h5>
            <p class="small">Cada proyecto es desarrollado con estándares altos en diseño, usabilidad y rendimiento.</p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card pilar-card shadow rounded-4 h-100 text-center p-3 align-items-center">
            <img src="compromiso.png  " height="60" width="60">
            <h5 class="fw-bold mt-2">Compromiso</h5>
            <p class="small">Acompañamos a nuestros clientes en cada paso, garantizando soluciones adaptadas a sus necesidades.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
    </div>



    




  <div class="container text-center mt-5">
    <h2 class="fw-bold mb-5 display-6" data-aos="fade-down">Nuestros <span class="text-accent">Servicios</span></h2>

    <div class="row g-4">
      <!-- Página Estática -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-servicio p-4 h-100 text-center">
          <img src="estaticas.png " height="80" width="80">
          <h4 class="fw-bold">Páginas Estáticas</h4>
          <p>Creamos páginas rápidas, seguras y optimizadas para mostrar información esencial de tu negocio.</p>
        </div>
      </div>

      <!-- Página Dinámica -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-servicio p-4 h-100 text-center">
          <img src="dinamicas.png  " height="80" width="80">
          <h4 class="fw-bold">Páginas Dinámicas</h4>
          <p>Desarrollamos sitios con funcionalidades interactivas y panel de administración personalizado.</p>
        </div>
      </div>

      <!-- API con Lenguaje de Programación -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-servicio p-4 h-100 text-center">
          <img src="apis.png " height="80" width="80">
          <h4 class="fw-bold">APIs</h4>
          <p>Construimos APIs robustas con Node.js, Java, Python u otros, adaptadas a las necesidades de tu proyecto.</p>
        </div>
      </div>

      <!-- Servicios REST & SOAP -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card-servicio p-4 h-100 text-center">
          <img src="servicio_rest.png  " height="80" width="80">
          <h4 class="fw-bold">Servicios REST & SOAP</h4>
          <p>Integramos o creamos servicios REST y SOAP para facilitar la comunicación entre sistemas.</p>
        </div>
      </div>

      <!-- Automatizaciones -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card-servicio p-4 h-100 text-center">
          <img src="automatizacion.png " height="80" width="80">
          <h4 class="fw-bold">Automatizaciones</h4>
          <p>Automatizamos procesos repetitivos para optimizar tiempos y recursos en tu empresa o negocio.</p>
        </div>
      </div>



        <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="card-servicio p-4 h-100 text-center">
            <img src="responsivo.png " height="80" width="80">
                <h4 class="fw-bold">Diseño Responsivo</h4>
                <p>Desarrollamos sitios web que se adaptan perfectamente a cualquier dispositivo, ofreciendo una experiencia óptima en móviles, tablets y computadoras.</p>
            </div>
        </div>

    </div>
  </div>


  <section class="planes-section py-5">
  <div class="container text-white">
    <h2 class="text-center fw-bold mb-5" data-aos="fade-up">Nuestros Planes</h2>

    <div class="row g-4">
      <!-- Plan Básico -->
     <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-dark-blue text-center">
          <h5 class="fw-bold  text-center ">Plan Básico</h5>
          <span class="badge  fs-4 mb-2">Desde S/1,800</span>
          <ul class="list-unstyled text-start">
              <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i>1 página de una sola cara</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i>administrable basico</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Whatsapp flotante</li> 
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i>  Indexación en Google* (SEO)</li>        
          </ul>
          
          <div class="text-center mt-4">
            <a href="https://wa.me/51905854377" target="_blank" class="btn btn-dark btn-lg rounded-pill px-4">Solicitar ahora</a>
          </div>
        </div>
      </div>

      <!-- Plan Avanzado -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-azul-claro text-center">
          <h5 class="fw-bold text-dark text-center">Plan Avanzado</h5>
          <span class="badge fs-3 mb-2 text-dark">Desde S/2,800</span>
          <ul class="list-unstyled text-dark text-start">
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Hasta 4 páginas</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Correos corporativos</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Whatsapp flotante</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i>  Indexación en Google* (SEO)</li>  
          </ul>
           
          <div class="text-center mt-4">
           
            <a href="https://wa.me/51905854377" target="_blank" class="btn btn-danger btn-lg rounded-pill px-4 mt-2">Solicitar ahora</a>

          </div>
        </div>
      </div>

      <!-- Plan Premium -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-premium text-center">
          <h5 class="fw-bold text-warning text-center mb-3">Plan Premium</h5>
          <span class="badge text-warning fs-3 mb-2">Desde S/5,800</span>
          <ul class="list-unstyled text-white text-start">
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Ideal para varios productos</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Correos corporativos</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Whatsapp flotante</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Blog administrable</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Indexación en Google (SEO)</li>
          </ul>
          
          <div class="text-center mt-4">
            
            <a href="https://wa.me/51905854377" target="_blank" class="btn btn-warning text-dark btn-lg rounded-pill px-4 mt-2 fw-bold">Solicitar ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- <div class="g-4 mt-4">
  <div class="col-md-6 offset-md-3" data-aos="zoom-in" data-aos-delay="400">
    <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-ecommerce text-white text-center">
      <h5 class="fw-bold mb-3">PLAN ACADÉMICO</h5>
      <p>Obtén proyectos desarrollados a medida, con código fuente completo y documentación profesional.</p>
      <span class="badge fs-4 mb-2">Precio Cotizable</span><br> 

      <div class="d-flex justify-content-evenly flex-wrap w-100 mt-3 gap-4">
        <ul class="list-unstyled mt-3 text-start text-white">
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Proyectos en cualquier lenguaje</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Código fuente entregado</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Documentación técnica</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Informe académico estructurado</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Entrega en plazos cortos</li>
        </ul>
        <ul class="list-unstyled mt-3 text-start text-white">
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Proyectos web y móviles</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Clases de explicación personalizadas</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Asesoría durante el desarrollo</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Revisión ilimitada hasta aprobación</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Garantía de originalidad</li>
        </ul>
      </div>

      <div class="mt-4">
        <a href="https://wa.me/51905854377" target="_blank" class="btn btn-banner mt-4">Solicitar ahora</a>
      </div>
    </div>
  </div>
</div> -->


</section>


  


</section>
