<header >
  

  <!-- FILA INFERIOR: LOGO + NAV + BOTÓN -->
  <div class="container py-3">
    <div class="row align-items-center">
      <!-- Logo a la izquierda -->
      <div class="col-md-3 text-center text-md-start">
        <img src="logo.png" alt="Logo" class="img-fluid" width="170" style="max-height: 80px;">
      </div>

      <!-- Navegación centrada -->
      <div class="col-md-6">
        <nav class="nav justify-content-center gap-3">
           <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
          <a class="nav-link"  routerLink="nosotros" routerLinkActive="active">Nosotros</a>
          <a class="nav-link" routerLink="servicios" routerLinkActive="active">Servicios</a>
          <a class="nav-link" routerLink="contacto" routerLinkActive="active">Contacto</a>
        </nav>
      </div>

      <!-- Botón a la derecha -->
      <div class="col-md-3 text-center text-md-end mt-3 mt-md-0">
        <a href="https://wa.me/5199999999" target="_blank"  class="telefono-link  text-decoration-none">
           <i class="bi bi-telephone-fill me-2"></i> Llámanos: 999 999 999
        </a>
      </div>
    </div>
  </div>
</header>