.circuit-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.circuit-icon {
  position: absolute;
  font-size: 1rem;
  color: #00ffe0;
  opacity: 0.1;
  animation: moveCircuit 20s linear infinite;
}

@keyframes moveCircuit {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: translate(10vw, 10vh) rotate(180deg);
    opacity: 0.4;
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
    opacity: 0.2;
  }
}


.whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 40px;
  background: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  z-index: 1000;
  animation: bounce 2s infinite;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #1ebe57;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}