


<section class="banner-fps d-flex  justify-content-center align-items-center text-center text-white">
  
  <div class="banner-content position-relative " >
    <h1 class="display-4 fw-bold animate__animated animate__fadeInDown" >Bienvenido a FPS</h1>
    <p class="fs-5 mt-3 animate__animated animate__fadeInUp">Creamos páginas web profesionales, modernas y optimizadas.</p>
    <a href="https://wa.me/51933016631" target="_blank" class="btn btn-banner mt-4 animate__animated animate__zoomIn">Solicita tu sitio ahora</a>
  </div>
</section>


<section class="seguridad-section py-5">
  <div class="container text-center text-white">
    <h2 class="mb-5 display-6 fw-bold">Tu seguridad es nuestra <span class="text-accent">Prioridad</span></h2>
    <div class="row g-4">

      <!-- PRIVACIDAD -->
      <div class="col-md-4" data-aos="fade-up" 
           data-aos-delay="100"
           data-aos-duration="1000"
           data-aos-easing="ease-out-cubic">
        <div class="card-seguridad p-4 h-100">
          <img src="   https://cdn-icons-png.flaticon.com/512/11940/11940317.png " alt="Privacidad" class="mb-3" style="width: 80px;">
          <h4 class="fw-bold">Privacidad</h4>
          <p>Protegemos la información de tus clientes con cifrado de nivel empresarial.</p>
        </div>
      </div>

      <!-- MONITOREO -->
      <div class="col-md-4" data-aos="fade-up" 
           data-aos-delay="100"
           data-aos-duration="1000"
           data-aos-easing="ease-out-cubic">
        <div class="card-seguridad p-4 h-100">
          <img src="   https://cdn-icons-png.flaticon.com/512/2782/2782163.png " alt="Monitoreo" class="mb-3" style="width: 80px;">
          <h4 class="fw-bold">Monitoreo</h4>
          <p>Supervisión constante con alertas y diagnósticos en tiempo real.</p>
        </div>
      </div>

      <!-- SEGURIDAD -->
      <div class="col-md-4" data-aos="fade-up" 
           data-aos-delay="100"
           data-aos-duration="1000"
           data-aos-easing="ease-out-cubic">
        <div class="card-seguridad p-4 h-100">
          <img src="https://cdn-icons-png.flaticon.com/512/1161/1161439.png " alt="Seguridad" class="mb-3" style="width: 80px;">
          <h4 class="fw-bold">Seguridad</h4>
          <p>Infraestructura blindada, respaldos y firewalls de clase mundial.</p>
        </div>
      </div>

    </div>
  </div>
</section>




<section class="crear-web-section py-5">
  <div class="container text-white">
    <div class="row align-items-center g-5">

      <!-- Texto -->
      <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="fw-bold mb-4">CREA TU SITIO WEB</h2>
        <p class="mb-4">
          En FPS te ayudamos a lanzar tu presencia online de forma rápida y profesional. Nuestro sistema está diseñado para que cualquier negocio o emprendimiento tenga su sitio web sin complicaciones.
        </p>

        <ul class="list-unstyled fs-5">
          <li class="mb-3 d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/8457/8457833.png" alt="Fácil Control" class="me-2 icono-lista">
            Fácil Control
          </li>
          <li class="mb-3 d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/8457/8457826.png" alt="Precios Razonables" class="me-2 icono-lista">
            Precios Razonables
          </li>
          <li class="d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/8457/8457850.png" alt="Análisis de Proyectos" class="me-2 icono-lista">
            Análisis de Proyectos
          </li>
        </ul>
        <a href="https://wa.me/51933016631" target="_blank" class="btn btn-fps mt-4">¡Crea tu sitio web ahora!</a>
      </div>

      <!-- Imagen -->
      <div class="col-lg-6 text-center" data-aos="zoom-in" data-aos-duration="1000">
        <img src="https://images.unsplash.com/photo-1605379399642-870262d3d051?auto=format&fit=crop&w=800&q=80" alt="Creación web" class="img-fluid rounded shadow">
        

      </div>

    </div>
  </div>
</section>



<section class="caracteristicas-section py-5">
  <div class="container text-white">
    <div class="text-center mb-5" data-aos="fade-down" data-aos-duration="800">
      <h2 class="fw-bold">Nuestras Características</h2>
      <p class="text-light">Todo lo que incluye tu sitio web con FPS</p>
    </div>

    <div class="row g-4">

      <!-- Item 1 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src="   https://cdn-icons-png.flaticon.com/512/3487/3487073.png " alt="Documentación" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Documentación del Proyecto</h5>
          <p>Incluimos documentación clara para que sepas cómo funciona todo tu sitio.</p>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src="   https://cdn-icons-png.flaticon.com/512/3247/3247114.png " alt="Soporte" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Full Soporte</h5>
          <p>Asistencia técnica antes, durante y después de lanzar tu web.</p>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src="https://cdn-icons-png.flaticon.com/512/17647/17647596.png " alt="Diseño Responsivo" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Diseños Responsivos</h5>
          <p>Tu web se verá perfecta en móviles, tablets y computadoras.</p>
        </div>
      </div>

      <!-- Item 4 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src=" https://cdn-icons-png.flaticon.com/512/1330/1330918.png " alt="Personalizable" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Altamente Personalizable</h5>
          <p>Adaptamos todo a tu marca, necesidades y estilo.</p>
        </div>
      </div>

      <!-- Item 5 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src="https://cdn-icons-png.flaticon.com/512/6453/6453946.png " alt="Seguridad" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Seguridad</h5>
          <p>Protegemos tus datos y los de tus usuarios con tecnología moderna.</p>
        </div>
      </div>

      <!-- Item 6 -->
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="card-caracteristica p-4 text-center h-100">
          <img src="   https://cdn-icons-png.flaticon.com/512/18210/18210016.png " alt="Pasarelas de pago" class="icono-caracteristica mb-3">
          <h5 class="fw-bold">Pasarela de Pagos y Carrito</h5>
          <p>Integramos métodos de pago y carrito de compras para tu tienda online.</p>
        </div>
      </div>

    </div>
  </div>
</section>








<section class="proyectos-section py-5" id="proyectos">
  <div class="container text-white">
    <h2 class="text-center fw-bold mb-5" data-aos="fade-up">Proyectos Realizados</h2>

    <div class="row g-4">

      <!-- Proyecto (repítelo 6 veces con distintos datos) -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="osana.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Osana Project</h5>
            <p class="text-light">Empresa de arquitectura mostrar cotizar proyectos destacados. El diseño es moderno y completamente responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="https://osana-project.vercel.app" target="_blank" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="https://github.com/sandro12352/OsanaProject" target="_blank" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>


      <!-- Repite esto cambiando el contenido para los 5 proyectos restantes -->

       <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="banner1.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Tienda ModaViva</h5>
            <p class="text-light">E-commerce de ropa con pasarela de pagos y diseño responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="#" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="#" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>

       <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="banner1.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Tienda ModaViva</h5>
            <p class="text-light">E-commerce de ropa con pasarela de pagos y diseño responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="#" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="#" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>

      <!-- Proyecto 4 -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="banner1.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Tienda ModaViva</h5>
            <p class="text-light">E-commerce de ropa con pasarela de pagos y diseño responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="#" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="#" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>

      <!-- Proyecto 5 -->
       <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="banner1.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Tienda ModaViva</h5>
            <p class="text-light">E-commerce de ropa con pasarela de pagos y diseño responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="#" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="#" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>

      <!-- Proyecto 6 -->
       <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-proyecto p-3 h-100 d-flex flex-column justify-content-between">
          <img src="banner1.png" alt="Proyecto 1" class="img-fluid rounded mb-3">
          
          <div>
            <h5 class="fw-bold">Tienda ModaViva</h5>
            <p class="text-light">E-commerce de ropa con pasarela de pagos y diseño responsivo.</p>
          </div>

          <div class="d-flex gap-2 mt-3">
            <a href="#" class="btn btn-sm btn-outline-light">Ver sitio</a>
            <a href="#" class="btn btn-sm btn-outline-light">
              <i class="bi bi-github me-1"></i> GitHub
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




<section class="planes-section py-5" id="planes">
  <div class="container text-white">
    <h2 class="text-center fw-bold mb-5" data-aos="fade-up">Nuestros Planes</h2>

    <div class="row g-4">
      <!-- Plan Básico -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-dark-blue text-center">
          <h5 class="fw-bold  text-center ">Plan Básico</h5>
          <span class="badge  fs-4 mb-2">Desde S/150</span>
          <ul class="list-unstyled text-start">
              <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i>1 página de una sola cara</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Correos corporativos</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i> Whatsapp flotante</li> 
            <li><i class="bi bi-shield-fill-check text-dark me-2 fs-4"></i>  Indexación en Google* (SEO)</li>        
          </ul>
          
          <div class="text-center mt-4">
            <a href="https://wa.me/51933016631" target="_blank" class="btn btn-dark btn-lg rounded-pill px-4">Solicitar ahora</a>
          </div>
        </div>
      </div>

      <!-- Plan Avanzado -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-azul-claro text-center">
          <h5 class="fw-bold text-dark text-center">Plan Avanzado</h5>
          <span class="badge fs-3 mb-2 text-dark">Desde S/350</span>
          <ul class="list-unstyled text-dark text-start">
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Hasta 4 páginas</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Correos corporativos</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i> Whatsapp flotante</li>
            <li><i class="bi bi-shield-fill-check text-danger me-2 fs-4"></i>  Indexación en Google* (SEO)</li>  
          </ul>
           
          <div class="text-center mt-4">
           
            <a href="https://wa.me/51933016631" target="_blank" class="btn btn-danger btn-lg rounded-pill px-4 mt-2">Solicitar ahora</a>

          </div>
        </div>
      </div>

      <!-- Plan Premium -->
      <div class="col-md-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-premium text-center">
          <h5 class="fw-bold text-warning text-center mb-3">Plan Premium</h5>
          <span class="badge text-warning fs-3 mb-2">Desde S/500</span>
          <ul class="list-unstyled text-white text-start">
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Ideal para varios productos</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Dominio .com (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Alojamiento web (1 año gratis)</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Correos corporativos</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Seguridad SSL</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Adaptable a celulares</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Formulario de contacto</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Botones para redes sociales</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Mapa de ubicación</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Whatsapp flotante</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Blog administrable</li>
            <li><i class="bi bi-shield-fill-check text-warning me-2 fs-4"></i> Indexación en Google (SEO)</li>
          </ul>
          
          <div class="text-center mt-4">
            
            <a href="https://wa.me/51933016631" target="_blank" class="btn btn-warning text-dark btn-lg rounded-pill px-4 mt-2 fw-bold">Solicitar ahora</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="g-4 mt-4">
  <div class="col-md-6 offset-md-3" data-aos="zoom-in" data-aos-delay="400">
    <div class="card-plan shadow p-4 h-100 rounded-4 bg-gradient-ecommerce text-white text-center">
      <h5 class="fw-bold mb-3">PLAN ACADÉMICO</h5>
      <p>Obtén proyectos desarrollados a medida, con código fuente completo y documentación profesional.</p>
      <span class="badge fs-4 mb-2">Precio Cotizable</span><br> 

      <div class="d-flex justify-content-evenly flex-wrap w-100 mt-3 gap-4">
        <ul class="list-unstyled mt-3 text-start text-white">
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Proyectos en cualquier lenguaje</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Código fuente entregado</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Documentación técnica</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Informe académico estructurado</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Entrega en plazos cortos</li>
        </ul>
        <ul class="list-unstyled mt-3 text-start text-white">
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Proyectos web y móviles</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Clases de explicación personalizadas</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Asesoría durante el desarrollo</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Revisión ilimitada hasta aprobación</li>
          <li><i class="bi bi-check-circle-fill text-warning me-2 fs-5"></i> Garantía de originalidad</li>
        </ul>
      </div>

      <div class="mt-4">
        <a href="https://wa.me/51933016631" target="_blank" class="btn btn-banner mt-4">Solicitar ahora</a>
      </div>
    </div>
  </div>
</div>


</section>



<section class="testimonios-section py-5">
  <div class="container text-white">
    <h2 class="text-center mb-5 fw-bold" data-aos="fade-down">Lo que dicen nuestros clientes</h2>

    <div id="carruselComentarios" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="row g-4 justify-content-center align-items-stretch">
            <div class="col-md-6  d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="card-testimonio p-4 position-relative  w-100">
                <span class="comillas">❝</span>
                <div class="d-flex align-items-center mb-3">
                  <img src="https://randomuser.me/api/portraits/men/32.jpg" class="rounded-circle me-3" width="60" height="60" alt="Cliente 1">
                  <div>
                    <h6 class="mb-0 fw-bold">Carlos Díaz</h6>
                    <small class="text-light">Diseñador Gráfico</small>
                  </div>
                </div>
                <p>FPS me brindó una experiencia totalmente fluida desde el inicio. <br>Me ayudaron a entender qué tipo de página necesitaba y la entregaron incluso antes del plazo. Ahora tengo una web profesional que me representa totalmente. Estoy feliz con el resultado y la atención personalizada que recibí en todo momento.</p>
              </div>
            </div>

            <div class="col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="card-testimonio p-4 position-relative  w-100">
                <span class="comillas">❝</span>
                <div class="d-flex align-items-center mb-3">
                  <img src="https://randomuser.me/api/portraits/women/44.jpg" class="rounded-circle me-3" width="60" height="60" alt="Cliente 2">
                  <div>
                    <h6 class="mb-0 fw-bold">Lucía Herrera</h6>
                    <small class="text-light">Dueña de tienda</small>
                  </div>
                </div>
                <p>Tenía muchas dudas sobre cómo vender online, pero con FPS todo fue más sencillo. Me asesoraron, me explicaron cómo funciona el carrito, los pagos y hasta me entrenaron para subir productos. Hoy mi tienda online no solo se ve increíble, ¡sino que ya estoy recibiendo pedidos!</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="row g-4 justify-content-center">
            <div class="col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="card-testimonio p-4 position-relative w-100">
                <span class="comillas">❝</span>
                <div class="d-flex align-items-center mb-3">
                  <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle me-3" width="60" height="60" alt="Cliente 3">
                  <div>
                    <h6 class="mb-0 fw-bold">Marco Rivas</h6>
                    <small class="text-light">Contador</small>
                  </div>
                </div>
                <p>Contraté a FPS para mi estudio contable y quedé sorprendido con la calidad del diseño. Me ayudaron con textos, imágenes, enlaces y optimización para Google. Incluso puedo actualizar mis servicios fácilmente sin depender de nadie. ¡Fue una excelente inversión!</p>
              </div>
            </div>

            <div class="col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="card-testimonio p-4 position-relative w-100">
                <span class="comillas">❝</span>
                <div class="d-flex align-items-center mb-3">
                  <img src="https://randomuser.me/api/portraits/women/21.jpg" class="rounded-circle me-3" width="60" height="60" alt="Cliente 4">
                  <div>
                    <h6 class="mb-0 fw-bold">Ana Morales</h6>
                    <small class="text-light">Coach de negocios</small>
                  </div>
                </div>
                <p>Lo que más destaco de FPS es la paciencia, el profesionalismo y el soporte constante. Me guiaron paso a paso para crear un sitio que refleje mi estilo y mis servicios. Ahora puedo recibir consultas desde mi web y mis clientes confían más al ver mi imagen profesional.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carruselComentarios" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carruselComentarios" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</section>




<section class="seccion-asesoria py-5  text-white ">
  <div class="container" data-aos="fade-up">
    <h1 class="fw-bold mb-4 titulo-gradiente" style="font-size: 5rem;">
      ¿Solicitas<br> una Asesoría?
  </h1>
    <p class="fs-5 mb-4">Solicita una asesoría gratuita y te orientamos paso a paso para tener tu sitio web ideal.<br>
     Tu éxito online es nuestra prioridad. Estamos aquí para ayudarte a crecer!
    </p>
  
    <a routerLink="contacto" class="btn btn-banner  btn-lg rounded-pill px-5 fw-bold">Solicitar Asesoría</a>

  </div>
</section>


